@font-face {
  font-family: 'TiemposHeadlineWeb-Bold';
  src: url('TiemposHeadlineWeb-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'UntitledSansWeb-Regular';
  src: url('UntitledSansWeb-Regular.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
